<?xml version="1.0" encoding="UTF-8"?>   
	<configuration>   
		<appender name="chat" class="ch.qos.logback.core.FileAppender">            
			<file>/home/admin/logs/vertx/chat.log</file>
			<append>true</append>
			<encoder charset="UTF-8">   
				<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>   
             </encoder>   
        </appender>       
        <root level="debug">   
           <appender-ref ref="chat" />   
        </root>   
</configuration>   